<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
        <nb-stepper orientation="horizontal" #stepper>
            <nb-step [stepControl]="applicationForm" label="Basique">
                <form [formGroup]="applicationForm" class="step-container">
                    <br/>
                    <h3>Configuration Basique #1</h3>
                    <br/>
                    <p class="lorem">
                        La première étape durant le processus de génération d’une API Spring Boot avec API Creator Engine est la saisie de la configuration de base.
                        <br/>
                        Remarque : Il suffit de remplire ce formulaire  sans passer aux autres étapes pour générer une API vide
                    </p>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="selectType" class="label">Type</label>
                                <nb-select id="selectType" selected="{{ applicationTypes != null && applicationTypes.length > 0 ? applicationTypes[0].nomEnum : '' }}" fullWidth>
                                    <nb-option  *ngFor="let applicationType of applicationTypes" value="{{ applicationType.nomEnum }}">{{ applicationType.valeurEnum }}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="selectPackaging" class="label">Packaging</label>
                                <nb-select   id="selectPackaging" selected="{{ packagingTypes != null && packagingTypes.length > 0 ? packagingTypes[0].nomEnum : '' }}" fullWidth>
                                    <nb-option *ngFor="let packagingType of packagingTypes" value="{{ packagingType.nomEnum }}">{{ packagingType.valeurEnum }}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputGroup" class="label">Group</label>
                                <input id="inputGroup" type="text" class="form-control" formControlName="groupCtrl" nbInput fullWidth [ngClass]="{'form-control-danger': applicationForm.invalid && (applicationForm.dirty || applicationForm.touched)}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputArtifact" class="label">Artifact</label>
                                <input id="inputArtifact" type="text" class="form-control" formControlName="artifactCtrl" nbInput fullWidth [ngClass]="{'form-control-danger': applicationForm.invalid && (applicationForm.dirty || applicationForm.touched)}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputPort" class="label">Port*</label>
                                <input id="inputPort" type="number" class="form-control" formControlName="portCtrl" nbInput fullWidth [ngClass]="{'form-control-danger': applicationForm.invalid && (applicationForm.dirty || applicationForm.touched)}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputVersion" class="label">Version</label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input id="inputVersion" type="text" class="form-control" formControlName="versionCtrl" nbInput fullWidth [ngClass]="{'form-control-danger': applicationForm.invalid && (applicationForm.dirty || applicationForm.touched)}">
                                    </div>
                                    <div class="col-sm-8">
                                        <nb-select id="selectVersion" selected="{{ versionTypes[0] }}" fullWidth>
                                            <nb-option *ngFor="let versionType of versionTypes" value="{{ versionType }}">{{ versionType }}</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="inputDescription" class="label">Description*</label>
                                <textarea id="inputDescription" nbInput fullWidth>Description de l'application</textarea>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-2">
                            <button nbButton fullWidth nbStepperPrevious disabled outline>Précédent</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" (click)="onApplicationSubmit()" nbButton fullWidth nbStepperNext>Suivant</button>
                        </div>
                    </div>
                </form>
            </nb-step>
            <nb-step [stepControl]="baseForm" label="Base de données">
                <form [formGroup]="baseForm" class="step-container">
                    <br/>
                    <h3>Configuration de la base de données #2</h3>
                    <br/>
                    <p class="lorem">
                        La deuxième étape durant le processus de génération d’une API Spring Boot avec API Creator Engine est la saisie de la configuration de la base de données.
                    </p>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="selectType" class="label">Type</label>
                                <nb-select id="selectType" selected="{{ applicationTypes != null && applicationTypes.length > 0 ? applicationTypes[0].nomEnum : '' }}" fullWidth>
                                    <nb-option  *ngFor="let applicationType of applicationTypes" value="{{ applicationType.nomEnum }}">{{ applicationType.valeurEnum }}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="selectPackaging" class="label">Packaging</label>
                                <nb-select   id="selectPackaging" selected="{{ packagingTypes != null && packagingTypes.length > 0 ? packagingTypes[0].nomEnum : '' }}" fullWidth>
                                    <nb-option *ngFor="let packagingType of packagingTypes" value="{{ packagingType.nomEnum }}">{{ packagingType.valeurEnum }}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputGroup" class="label">Group</label>
                                <input id="inputGroup" type="text" class="form-control" formControlName="groupCtrl" nbInput fullWidth [ngClass]="{'form-control-danger': baseForm.invalid && (baseForm.dirty || baseForm.touched)}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputArtifact" class="label">Artifact</label>
                                <input id="inputArtifact" type="text" class="form-control" formControlName="artifactCtrl" nbInput fullWidth [ngClass]="{'form-control-danger': baseForm.invalid && (baseForm.dirty || baseForm.touched)}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputPort" class="label">Port*</label>
                                <input id="inputPort" type="number" class="form-control" formControlName="portCtrl" nbInput fullWidth [ngClass]="{'form-control-danger': baseForm.invalid && (baseForm.dirty || baseForm.touched)}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputVersion" class="label">Version</label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input id="inputVersion" type="text" class="form-control" formControlName="versionCtrl" nbInput fullWidth [ngClass]="{'form-control-danger': baseForm.invalid && (baseForm.dirty || baseForm.touched)}">
                                    </div>
                                    <div class="col-sm-8">
                                        <nb-select id="selectVersion" selected="{{ versionTypes[0] }}" fullWidth>
                                            <nb-option *ngFor="let versionType of versionTypes" value="{{ versionType }}">{{ versionType }}</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-2">
                            <button nbButton fullWidth nbStepperPrevious outline>Précédent</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" (click)="onBaseSubmit()" nbButton fullWidth nbStepperNext>Suivant</button>
                        </div>
                    </div>
                </form>
            </nb-step>
            <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
                <div class="step-container">
                    <h3>Wizard completed!</h3>
                    <button nbButton (click)="stepper.reset()">Try again</button>
                </div>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>